html, body {
  height: 100%;
  margin: 0;
}
#root {
    height: 100%;
    width: 100%;
}

.columns {
    min-height: 100%;
}
.column.is-3 {
    height: 100%; 
    border-right: 1px solid #eee; /* Optional: adds a right border to the sidebar */
    position: sticky; /* Optional: makes the sidebar scroll with the page */
    top: 0; /* Works with position: sticky */
}

.columns:not(:last-child) {
    margin-bottom: 0.1rem;
}

.card{
    margin: 30px 50px;
}

.box{
    margin-bottom: 0;
    padding: 0.5rem;
}

.card-content {
    background-color: transparent;
    padding: 0.5rem;
}

.tableItem {
    padding: 0.5rem;
}